// Place all the styles related to the serials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.serials-show.form-actions{
	margin: 20px 10px 10px 100px;
}

/* nav styles */

nav.pagination{
	margin: 0 5% 0 25%;
	min-width: 60%;
}

nav.pagination span.page a{

	margin: 0 3px 0 3px;
	border: #cecece solid 1px;
	
}	

nav.pagination span.page.current{
	border-bottom: #333 1px solid;
	padding-left: 3px;

}

nav.pagination a:hover{
	background-color: #cecece;
	color: #333;
}