
<% if user_signed_in? %>
  <p class="navbar-right">Logged in as <%= current_user.email %> <%= link_to ' [click to logout]', destroy_user_session_path, :method => :delete, :class => 'navbar-link' %></p>
<% else %>
  <p class="navbar-right"><%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %></p>
<% end %>
